In [1]:
import pandas
data = pandas.read_csv("titanic.csv", index_col = "PassengerId")
# data[:1]
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [2]:
c = data["Sex"].value_counts()
c = str(c[0]) + " " + str(c[1])
f = open("1.txt", "w")
f.write(c)
f.close()
print c

577 314

In [3]:
c = data['Survived'].value_counts()
c = str((c[1] * 100.) / c.sum())
f = open("2.txt", "w")
f.write(c)
f.close()
print c

38.3838383838

In [4]:
c = data["Pclass"].value_counts()
c = str((c[1] * 100.) / c.sum())
f = open("3.txt", "w")
f.write(c)
f.close()
print c

24.2424242424

In [5]:
a = data["Age"].mean()
b = data["Age"].median()
c = str(a) + " " + str(b)
f = open("4.txt", "w")
f.write(c)
f.close()
print c

29.6991176471 28.0

In [6]:
c = data["SibSp"].corr(data["Parch"])
c = str(c)
f = open("5.txt", "w")
f.write(c)
f.close()
print c

0.41483769862

In [7]:
FemNames = data[data["Sex"] == "female"]["Name"]

FirstNames = []

for name in FemNames:
    dotsplitted = name.split('.') # . in Mrs., Miss., Mme. etc.
    if dotsplitted[0].split()[-1] in ("Miss", "Mme", "Mlle"):
        first_name = dotsplitted[1].split()[0]
        FirstNames.append(first_name)
    else: # "Mrs" or else 
        unbrace = dotsplitted[1].split('(')
        if len(unbrace) > 1:
            first_name = unbrace[1].split()[0].strip(')')
        else:
            first_name = unbrace[0].split()[0]
        FirstNames.append(first_name)
        

# print FirstNames[:10]

c = pandas.value_counts(FirstNames)
c = c.first_valid_index()
    
f = open("6.txt", "w")
f.write(c)
f.close()
print c

Anna

In [8]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np

columns = ["Pclass", "Fare", "Age", "Sex", "Survived"] 

X = data[columns].dropna()
X['Gender'] = X['Sex'].map( {'female' : 0, 'male' : 1} ).astype(int)
y = X[["Survived"]]
X = X.drop(["Sex", "Survived"], axis = 1)
print X[:1]
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)
importances = clf.feature_importances_
print clf
c = importances
a = c.argmax()
c[a] = 0.
b = c.argmax()
c = [a, b]
c = columns[a] + " " + columns[b]

f = open("the_most_imp_cols.txt", "w")
f.write(c)
f.close()
print c

             Pclass  Fare  Age  Gender
PassengerId
1                 3  7.25   22       1
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')
Fare Sex