In [2]:
import pandas
data = pandas.read_csv("wine.data")
# data[:1]
data.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [32]:
y = data[[0]]
X = data[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]

import numpy as np
y = np.ravel(y)

177L

In [61]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score

Q = []
for k in range(1, 5):
    neigh = KNeighborsClassifier(n_neighbors = k)
    neigh.fit(X, y) 

    kf = KFold(y.shape[0], n_folds = 5, shuffle = True, random_state=42)

    quality = cross_val_score(neigh, X, y, cv = kf)
    Q.append(quality.mean())

Q

[0.73523809523809525,
 0.66650793650793649,
 0.71809523809523801,
 0.65015873015873016]

In [66]:
from sklearn.preprocessing import scale

X = scale(X)

Q = []
for k in range(1, 30):
    neigh = KNeighborsClassifier(n_neighbors = k)
    neigh.fit(X, y) 

    kf = KFold(y.shape[0], n_folds = 5, shuffle = True, random_state=42)

    quality = cross_val_score(neigh, X, y, cv = kf)
    Q.append(quality.mean())

Q

[0.94920634920634916,
 0.93793650793650796,
 0.94380952380952388,
 0.94349206349206349,
 0.94936507936507941,
 0.95460317460317456,
 0.97190476190476183,
 0.96603174603174613,
 0.96079365079365076,
 0.96619047619047616,
 0.95507936507936508,
 0.96047619047619048,
 0.96063492063492062,
 0.96047619047619048,
 0.9717460317460318,
 0.96047619047619048,
 0.96079365079365076,
 0.96031746031746024,
 0.96619047619047616,
 0.96603174603174613,
 0.9717460317460318,
 0.96031746031746024,
 0.9717460317460318,
 0.9717460317460318,
 0.9717460317460318,
 0.9717460317460318,
 0.9717460317460318,
 0.97730158730158734,
 0.97730158730158734]

In [48]:
#sklearn.preprocessing.scale